/* GLOBAL DEFULTS */
@import 'http://necolas.github.io/normalize.css/8.0.1/normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Darker+Grotesque:wght@300;400;500;600;700;800&family=Syncopate:wght@400;700&display=swap');

*  {
    box-sizing: border-box;
}

body {
    background-color: darksalmon;

    font-family: 'Darker Grotesque', sans-serif;

    line-height: 1.6;
}

a {
    color: chocolate;
    font-weight: bold;
}

a:hover {
    color: orangered;
}

img,
iframe {
    max-width: 100%;
}

/* HEADINGS AND TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Syncopate', sans-serif;
    color: orangered;
}

h1 { 
color: lightcoral;
}

/* LAYOUTS */
.layout-wide  {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
}

.highlight {
    font-weight: bold;
}

/* HEADER, MAIN & FOOTER */

header {
    background-color: palevioletred;
    color: white;
}

footer {
    background-color: palevioletred;
    color: white;
    text-align: center;
}

main {
    background-color: papayawhip;
}

/* NAVIGATION */

/* MODULES */
.news-component {
    background-color: black;
    padding: 20px;
}

@media screen and (min-width: 800px) {

    .news-component {
        background-color: coral;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

}